body{
    background-image: url("/ativos/imagens/fundo/fundo-home.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

/* TITULO DA PRIMEIRA PÁGINA */
.container.titulo{
    position: static;
    padding-top: 59px;
    margin: 0 auto;
    width: 80%;
    clear: both;
    overflow: hidden;
}

.titulo h1{
    font-family: "Gill Sans MT Condensed", serif;
    font-size: calc(2em + 10vw);
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin: 5px;
}

.titulo h3{
    font-family: "Courier New", serif;
    font-size: calc(1.5em + 1vw);
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* Colunas */
.col.colunas{
    overflow: hidden;
    height: auto;
    background-color: rgba(71, 70, 70, .5);
}

.row h1{
    font-family: "Bodoni MT Condensed", serif;
    font-size:calc(2rem + 4vw);
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

.row p{
    font-family: "Bodoni MT Condensed", serif;
    font-size:calc(1rem + 1.2vw);
    color: #FFFFFF;
    text-align: center;
    margin: 0;
}
