body{
    height: 100vh;
    width: 100vw;
}

/* Clientes */
card.clientes{
    width: calc(14vh + 15vw);
}

.clientes img{
    width: calc(12vh + 12vw);
    height: calc(12vh + 12vw);
}

.col.col-clientes{
    margin-bottom: 15px;
    margin-top: 15px;
}

.clientes h2{
    font-family: "Gill Sans MT Condensed", serif;
    font-size: calc(5vh + 1vw - 1em);
    color: #000000;
    text-decoration: none;
}