body{
    height: 100vh;
    width: 100vw;
}

.carousel-item{
    height: 50% !important;
}

.container-fluid.navtab{
    width: 60vw !important;
}

.nav-tabs {
    --bs-nav-tabs-border-color: #F5ED2C;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #F5ED2C;
    font-weight: bold;
    border-color: #F5ED2C;
}

.nav-tabs .nav-link{
    color: #000000;
}

card.projetos{
    width: calc(14vh + 15vw);
}

.projetos img{
    width: calc(10vh + 10vw);
    height: calc(10vh + 10vw);
}

.col.col-projetos{
    margin-bottom: 15px;
    margin-top: 15px;
}

.card{
    border: none;
}
