body{
    height: 100vh;
    width: 100vw;
}


.container-fluid.sobmim{
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 80vw;
}

.row.linha-1{
    margin: 2px 2px 2px 2px;
}

.col{
    padding: 0;
}

.sobmim h5{
    font-family: "Courier New", serif;
    font-size: calc(1.5em + 2vw);
    color: #000000;
    overflow: hidden;

}

.sobmim.info-1{
    font-family: "Times New Roman", serif;
    color: #000000;
    overflow: hidden;
}

.sobmim.info-2{
    font-family: "Agency FB", serif;
    color: #000000;
    overflow: hidden;

}

.sobmim img{
    max-width: 100%;
    min-width: 3px;
    min-height: 3px;
}